*{
    margin: 0;
}                                         
body{
    font-family: 'Work Sans', sans-serif;
}

/* header section design start */
    /* navbar section design start */
     .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     }
     .logo{
        display: flex;
        align-items: center;
        column-gap: 10px;
     }
     .logo-title{
        color: #0B0223;
        font-size: 45px;
        font-weight: 700;
     }
     .first-letter{
        color:  #FF42A5;
     }
     nav >ul{
         list-style-type: none;
         display: flex;
         align-items: center;
     }
     li > a{
        text-decoration: none;
        margin-right: 18px;
        color: #3C354F;
        font-size: 18px;
        font-weight: 500;
     }
     .nav-btn{
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        border: none;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: 500;
        color: #3C354F;
        cursor: pointer;
     }
     .fa-youtube{
        color: #F61C0D;
        margin:0px 10px;
     }
     .fa-tiktok{
        color:#000000;
     }
    /* navbar section design end */

    /* banner section design start */
    /* banner section design end */
/*header section design end */

/* main section design start */
    /* our gammer section design start .its optional part*/
    /* our gammer section design end */

    /* video-games section design start/it's a bonus part */
    /* video-games section design end */

    /* play instant section design start.*/
    /* play instant section design end */

    /* online games section design start .its optional part*/
    /* online games section design end */

    /* careers section design start . it's optional part */
    /* careers section design end */

    /* games icon section design start.*/
    /* games icon section design end */
/* main section design end */

/* footer section design start */
/* footer section design end */

/* Responsive design for mobile screen */
@media screen and (max-width:576px) {
/* responsive header section design start */
    /* responsive navbar section design start */
    .navbar{
      flex-direction: column;
      box-shadow: none;
    }
    nav > ul {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 40px;
    }
    /* responsive navbar section design end */

    /* responsive banner section design start */
    /* responsive banner section design end */
/* responsive header section design end */

/* responsive main section design start */
        /* responsive our gammer section design start .its optional part*/
        /* responsive our gammer section design end */

        /* responsive video-games section design start/it's a bonus part */
        /* responsive video-games section design end */

        /* responsive play instant section design start.*/
        /* responsive play instant section design end */

        /* responsive online games section design start .its optional part*/
        /* responsive online games section design end */

        /* responsive careers section design start . it's optional part */
        /* responsive careers section design end */

        /* responsive games icon section design start.*/
        /* responsive games icon section design end */
/* responsive main section design end */

/* responsive footer section design start */
/* responsive footer section design end */
}

/* responsive design for tablet/mini tab/ */
 @media screen and (max-width:576px) { 
    /* responsive header section design start */
        /* responsive navbar section design start */
        /* responsive navbar section design end */
    
        /* responsive banner section design start */
        /* responsive banner section design end */
    /* responsive header section design end */
    
    /* responsive main section design start */
            /* responsive our gammer section design start .its optional part*/
            /* responsive our gammer section design end */
    
            /* responsive video-games section design start/it's a bonus part */
            /* responsive video-games section design end */
    
            /* responsive play instant section design start.*/
            /* responsive play instant section design end */
    
            /* responsive online games section design start .its optional part*/
            /* responsive online games section design end */
    
            /* responsive careers section design start . it's optional part */
            /* responsive careers section design end */
    
            /* responsive games icon section design start.*/
            /* responsive games icon section design end */
    /* responsive main section design end */
    
    /* responsive footer section design start */
    /* responsive footer section design end */
    }